<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mycompany.myapp" >
	<uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>

<!-- 
	
MD5:
E8:9B:15:8E:4B:CF:98:8E:BD:09:EB:83:F5:37:8E:87

SHA1:
61:ED:37:7E:85:D3:86:A8:DF:EE:6B:86:4B:D8:5B:0B:FA:A5:AF:81

SHA1 Binary Base64:
Ye03foXThqjf7muGS9hbC/qlr4E=

não precisou usar sha1 - chave api AIzaSyAQiSG812szll8y_BNCSi22rHVf3bplK3M

	-->
